.page {
    display: flex; 
    flex-direction: column; 
}

.footer {
    background-color:#4C382C;
    color: #E5E5E4;
   padding-left: 10px;
   position: fixed;
    bottom: 0;
    width: 100%;

  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    background-color:#4C382C;
  }

  .view {
    background-color:#4C382C !important;
    border: 1px solid #876E54 !important;
    width: 150px;
    color: #876E54 !important;
    font-size: 20px !important;
  }

.content {
    display: flex;
    justify-content: space-evenly;
    margin: 80px;
}
.info {
    display: flex;
}
.icon {
    width:50px;
    height:50px;
    
  }
  
  @media (max-width: 1300px){
    .content {
      display: flex;
      flex-direction: column;
      margin: 80px;
  }
  }
  
  @media (max-width: 1020px){
    
    .photo1, .photo2 {
      height: 300px;
      width: 350px;
    }
    .photo3 {
      display: none;
    }
    .photo4 {
      height: 300px;
      width: 350px;
    }
    .text {
      padding-top: 0px;
      color: black;
  }
  .footer, .header {
    background-color: #e4dedf;
    color: black;
  }
  .view {
    background-color:#e4dedf !important;
    border: 1px solid #798486 !important;
    width: 100px;
    color: black !important;
    font-size: 15px !important;
  }
  .card3 {
    display: none;
  }
  .text {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  }