.cards {
    padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.card {
	border: 3px solid rgb(21, 30, 153) !important;
	padding: 10px;
	width: 350px;
	height: 400px;
}

.image {
	width: 150px;
	height: 150px;
}

.toSee {
    cursor: pointer;
}